html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  height: 100%;
}