$font-small: 13px;
$font-regular: 16px;
$font-big: 22px;
$font-large: 26px;

/* light theme colors */

$slate-grey: #697C9A;
$disabled: #9facc6;
$queen-blue: #4B6A9B;
$gun-metal: #2B3442;
$ghost-white: #F6F8FF;
$white: #FEFEFE;

/* dark theme colors */
$dark-theme-white: #FFFFFF;
$dark-gum-metal: #141D2F;
$yankees-blue: #1E2A47;
$white-opacity075: rgba(255, 255,255, 0.75);
$white-opacity05: rgba(255, 255,255, 0.5);

/* common colors for both */
$azure: #0079FF;